/* Customize styles for specific Ant Design Menu items */

.layout .ant-layout-header {
  background-color: #42296e !important;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
  /* padding-left: 20px; */
  /* padding-right: 20px; */
}
.layout .ant-menu-horizontal {
  background-color: #42296e !important;
}

.layout .ant-menu-item a {
  color: #fff;
}

.layout .ant-menu-item:hover,
.layout .ant-menu-item-active,
.layout .ant-menu-item-selected {
  background-color: transparent !important;
  color: #fecf0a !important;
}

.layout .ant-drawer-body {
  padding: 0;
}

.layout .ant-drawer-content-wrapper {
  background-color: #001529;
}

.layout .ant-drawer-title {
  color: #fff;
}

/* Customize styles for overflow menu items */
.layout .ant-menu-overflow-item {
  color: #fff;
}

/* Add any additional styles for your application */
